.container {
  font-size: 20px;

  padding: 20px;  
}

header{
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px; 

  img{
    width: 40px;
    aspect-ratio: 1/1;
  }
}

.summaryList {
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
}

.totalPrice {
  border: 1px solid;
  padding: 10px;
}
