.container {
  font-size: 20px;
  width: 595px;
  height: 842px;
}

.summaryList {
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
}

.totalPrice {
  border: 1px solid;
  padding: 10px;
}
