.container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  & > * {
    padding-right: 10px;
  }
}

.serviceList {
  display: flex;
  justify-content: center;
}

.pointsInput {
  width: 3ch;
}
