.header {
  text-align: center;

}

.navbar{
  background-color: #000;
  color: #fff;
  li{
    display: inline-block;
    color:white;
    padding: 10px;
    a:active{
      color: red;
    }
    a:visited{
      color:white;

    }
  }
}